.acp-card-container{
    display: flex;
    flex-direction: column;
    margin: 30px 0;    
}

.acp-card-image{
    height: 350px;
    margin: 10px auto ;   
}

.acp-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: gray; 
}

.acp-info-container{
    margin: 0 10px;
    padding: 0 10px;
}

.acp-info-paragraph{
   
    margin: 0 30px;
    font-size: 20px;
    padding: 20px;
}

h1{
    padding: 0 15px;
}